/*
!.gitignore
!/LICENSE
!/README.md
!/.github/
!/.github/**
!/kubejs/
!/kubejs/assets/
!/kubejs/assets/**
!/kubejs/client_scripts/
!/kubejs/client_scripts/**
!/kubejs/data/
!/kubejs/data/**
!/kubejs/server_scripts/
!/kubejs/server_scripts/**
!/kubejs/startup_scripts/
!/kubejs/startup_scripts/**
/kubejs/README.txt
/kubejs/config/
/kubejs/documentation/
/kubejs/jsconfig.json
!/cn/
!/cn/**desktop.ini